
.main {
    text-align: center;
}
table {
    margin-left: auto;
    margin-right: auto;
}
.display-screen {
    border: 5px solid black;
    margin: auto;
    
    font-size: 30vh;
    width: 90vw;
    height: 40vh;
}
.btn {
    margin: auto;
    font-size: 8vh;
    width: 22.5vw;
    height: 13vh;
}